.img-container {
    position: relative;
  }
  
  .img-selector {
    position: absolute;
    cursor: crosshair;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .img-selector.circle {
    border-radius: 50%;
  }
  
  .img-out-show {
    position: absolute;
    background-repeat: no-repeat;
    transform: translate(100%, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .img-selector-point {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
  }
  
  .img-out-show.base-line::after {
    position: absolute;
    box-sizing: border-box;
    content: '';
    width: 1px;
    border: 1px dashed rgba(0, 0, 0, 0.36);
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-out-show.base-line::before {
    position: absolute;
    box-sizing: border-box;
    content: '';
    height: 1px;
    border: 1px dashed rgba(0, 0, 0, 0.36);
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }