@import 'mixins/mixins';

@include b(scratch){
    &-wrapper {
        position: relative;
        canvas {
          position: absolute;
          top: 0;
          left: 0;
          cursor:crosshair;
        }
        .img-selector-point {
          position: absolute;
          width: 4px;
          height: 4px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: black;
        }
      }
      &-wrapper > * {
        user-select: none;
      }
}
