.vue-sticker {
    &__wrapper {
      &:focus {
        outline: 0;
      }
    }
    &__invisible {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0;
    }
    &__inner {
      position: absolute;
      top: 0;
      left: 0;
    }
  }